


.filtros{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.botones {
    padding: 7px;
    font-size: 17px;
    border: 2px solid rgb(7, 181, 33);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición suave */
}

.botones:hover {
    outline: 3px solid rgb(7, 181, 33);
}

.botones:active {
    background: rgb(7, 181, 33);
}

.productos-tienda{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
}

.prodcuto-tienda{
    display: flex;
    max-width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(7, 181, 33);
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.imgTienda{
    width: 200px;
	height: 200px;
	object-fit: contain;
    background-color: transparent;
}




.prodcuto-tienda:hover{
    box-shadow: 0 0 10px rgb(7, 181, 33);
}


.tituloProdcuto{
    font-size: 17px;
    text-align: left !important;
}

